@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    background: -webkit-linear-gradient(180deg, #23379a,#09133c);
    background: linear-gradient(180deg, #23379a,#09133c);                  
 }
  
 .btn-primary{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Manrope', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
 }

 .grid-2 {
  display: grid;
  grid-template-columns: 45% 45% 45%;
}


.programm-button{
  text-decoration: none;
  padding: 15px 25px;
  width: 60%;
  line-height: 45px;
  border-radius: 45px;
  margin: 15px 25px 10px;
  font-family: 'Manrope', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}



.programms{
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
}


.programms h1 {
  text-align: center;
}

.programms img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
}


.grid-2-col {
  width: 80%;
  box-sizing: border-box;
  position: relative;
  padding: 15px;  
}

.grid-2 img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
}



  * {
    box-sizing: border-box;
  }
  
  .logo {
    float: left;
    font-size: 24px;
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 5px;
  }


  
  .nav {
    float: right;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  li {
    display: inline-block;
  }

  
  .toggle-pages-btn{
    background-color: #23379a;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-color: #23379a;
    transition: .2s;
    cursor: pointer;
    letter-spacing: 5px;
  }

  .toggle-pages-btn:hover{
    transform: scale(1.2);

  }

  .toggle-pages-btn:active{
    transform: scale(0.9);
  }

  .nav-link {
    display: block;
    color: #ffffff;
    font-size: 25px;
    line-height: 60px;
    padding: 0 20px;
    height: 70%;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #152564;
    border-radius: 10px;
    height: 100%;
  }
  

  .info-section {
    padding: 60px 0;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .info-section h2 {
    text-align: justify;
    text-align-last: center;
    font-size: 20px;
    margin-bottom: 60px;
    color: grey;
  }

  .info-section h1 {
    font-size: 40px;
  }

  .info-section a {
    text-decoration: none;
    color: white;
    background-color: #152576;
    padding: 20px;
    border-radius: 8px;
  }

  .info-section a:hover {
    background-color: #0e1a52;
  }
  
  .info-data {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .info-block {
    margin: 0 10px 40px;
    width: 300px;
    text-align: center;
  }
  
  .info-block img {
    margin-bottom: 20px;
    height: 100px;
  }
  
  .info-block p {
    font-size: 18px;
    line-height: 24px;
  }
  
  .catalog-section {
    padding: 60px 0;
    text-align: center;
    
  }
  
  .catalog-section h2 {
    font-size: 32px;
    margin-bottom: 60px;
    letter-spacing: 5px;
  }
  
  .catalog-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    padding: 70px;
  }
  
  .catalog-block {
    margin: 0 15px 40px;
  }
  
  .catalog-block img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .js-game-page {
    display: none;
  }
  
  

  .modal-button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .modal-button:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }

  .modal-close-button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 90%;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }

  .modal-close-button:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
  

  .phone {
    float: left;
    margin-left: 30px;
    font-size: 20px;
    line-height: 40px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09133c;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .footer-container {
    text-align: center;
  }
  
  .copyright {
    font-size: 14px;
    margin: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 50px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #0d0d0d;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(178, 178, 178, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #09133c;
    color: #000000;
    height: 50px;
    padding:1px;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
  }


  .modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    background-color: white;
    color: rgb(0, 0, 0);
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 0px 8px 1px rgba(21, 17, 15, 0.28);
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .modal-content img{
    padding: 20px;
    width: 90%;
    height: 300px;
    border-radius: 50px;
  }
  
  .modal-content p{
    text-align: justify;
    text-align-last:center ;

  }


  .modal.active {
    display: block;
    
  }


  @keyframes scale-in-ver-center {
    0% {
      transform: scaleY(0);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  @media only screen and (max-width: 425px){

    .menu-button-container{
      margin-top: 50px;
    }
    
    .menu{
      padding-top: 50%;
    }
    .nav-link{
      line-height: 50px;
    }

    .modal-button{
      background-color: #333;
    }

    .info-section{
      width: 90%;
    }

    .grid-2{
      margin-left: -25px;
    }
  }

  @media only screen and (max-width: 1024px){


    .menu{
      padding-top: 0.8%;
    }
    .nav-link{
      line-height: 30px;
    }

    body{
      font-size: 40px;
    }

    .info-section{
      text-align: center;
      margin-left: 40%;
    }

    .catalog-section h2{
      margin-left: 40%;
    }

    .info-section {
      padding-bottom: 100px;
    }
    
    .catalog-section {
      padding-top: 1px;
    }

  }

  @media only screen and (max-width: 1440px) {
    .menu-button-container {
      display: flex;
    }



    .grid-2 img{
      width: 300px;
      height: 180px;
    }

    .modal-button{
      width: 10px;
      line-height: 25px;
    }

    .catalog-block img{
      width: 150px;
      height: 100px;

    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 5%;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 60px;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      height: 100px;
      margin: 0rem 10rem;
      padding: 100px;
      width: 100%;
      color: white;
      background-color: #09133c;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    

  }

  .info-section h1{
    padding: 10px;
    font-size: 25px;
  }

  .info-section h2{
    padding: 10px;
    font-size: 15px;
  }

  img{
    width: 170px;
    height: 200px;
  }

  .info-data{
    display: flex;
    justify-content: center;
  }
  .info-block{
    display: flex;
    flex-direction: row;
  }


  .modal-content{
    width: 90%;
  }

  

  .modal-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 15%;
  }

  .modal-button:hover{
    background-color: #24a93c;
  }



  .modal-close-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    height: 40%;
  }

  .modal-close-button:hover{
    background-color: #24a93c;
  }

  }

@media screen and (max-width: 768px) {
  .grid-2 {
      grid-template-columns: repeat(2, 1fr);
  }

  .info-section{
    margin-left: 8%;
    width: 90%;
    font-size: 20px;
  }

  .catalog-section h2{
    margin-left: 5%;
  }

  .menu{
      padding-top: 3%;
    }
    .nav-link{
      line-height: 30px;
    }

    body{
      overflow-x: hidden;
    }
  }


@media screen and (max-width: 576px) {
  .info-section h1 {
      font-size: 20px;
  }

  .info-section h2 {
      font-size: 15px;
      padding-bottom: -20px;
  }

  .grid-2 {
      grid-template-columns: 1fr;
  }

  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #09133c;
      position: absolute;
      left: 0;
      top: 60%;
      width: 100%;
  }

  #menu-toggle {
      display: block;
      opacity: 0;
      position: absolute;
      z-index: -1;
  }

  #menu-toggle:checked ~ .menu {
      display: flex;
  }

  .menu-button-container {
      display: block;
  }

  .nav {
      position: relative;
  }

  .catalog-section h2 {
      font-size: 28px;
  }

  .info-block img {
      height: 80px;
  }

  .modal-content {
      width: 95%;
  }

  .modal-button,
  .modal-close-button {
      width: 90%;
      padding: 10px;
  }
}


@media screen and (max-width: 375px){
  .info-section{
    text-align: justify;
    text-align-last: center;
  }

  .catalog-section h2{
    padding-top: 0px;
  }

  .grid-2{
    margin-left: -40px;
  }
}